body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin-top: 8%;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 6px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

       

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

      

        input[type="text"]
         {
            width: 97%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #cda45e;
            border-radius: 5px;
        }
        
        .select{

            width: 97%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #cda45e;
            border-radius: 5px;
        
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #cda45e;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button{
  background: #cda45e;
  color: white;
  padding: 5px 10px;
  text-align: center;

}
 button #orange{
  background: #cda45e;
  color: white;
  padding: 5px 10px;
  text-align: center;

}